<%- include('partials/_header'); -%>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/update/<%= data.id %>" method="POST">

          <div class="form-group">
            <label for="">ID: </label>
            <input type="text" name="name" value="<%= data.id%>" placeholder="Producto" class="form-control" disabled>
          </div>


          <div class="form-group">
            <label for="">Producto: </label>
            <input type="text" name="name" value="<%= data.name%>" placeholder="Producto" class="form-control" disabled>
          </div>
          
          <div class="form-group">
            <label for="">Fecha Creacion: </label>
            <input type="text" name="" value="<%= data.fechaI%>" placeholder="" id="" class="" disabled>
        </div>
                <!-- <div class="form-group">
                    <input type="timepage" name="fechaI" type="<%= data.fechaI%>" name="fechaI" placeholder="Fecha" class="form-control">
                </div> -->
                <div class="form-group">
                  <label for="">Cantidad: </label>
                    <input type="text" name="cantidad" value="<%= data.cantidad%>" placeholder="Cantidad"  id="cantidad" class="form-control"disabled>
                    
                </div>
                <!-- <div class="form-group" >
                    <!-- <input type="text" name="operario" value="<%= data.operario%>" placeholder="Operario" class="form-control" autofocus> -->
                    <!-- <label for="" >Operario:</label>

                                <select id="operario"  class="operario" name="operario" class="form-control" >
                                    <option value="0"></option>
                                    <option value="Carlos">Carlos</option>
                                    <option value="Rafael">Rafael</option>
                                    <option value="Viviana">Viviana</option> -->
                                    
                                <!-- </select>    --> 
                <!-- </div> -->

                <div class="form-group">
                  <label for="">Operario: </label>
                  <input type="text" name="cantidad" value="<%= data.operario%>" placeholder="Cantidad"  id="cantidad" class="form-control"disabled>
              </div>

                <div class="form-group">
                  <label for="">Productos bien: </label>
                    <input type="text" name="piezasb" value="<%= data.piezasb%>" placeholder="Piezas Bien" id="piezasb" class="form-control" disabled>
                    <script>
                      //   var select =  document.getElementById('piezasb');
                        
                      //   select.addEventListener('onkeypress',
                      //   function(){
                      //     var select1 = document.getElementById('piezasb');
                      //     var select2 = parseInt( document.getElementById('cantidad').value);
                      //     var resta = select1-select2;
                      //     document.getElementById('piezasm').value=resta;
                      // });
                      let precio1 = document.getElementById("cantidad");
                      let precio2 = document.getElementById("piezasb");
                      let precio3 = document.getElementById("piezasm");
                      
                      precio2.addEventListener('change' ,() => {
                        let precio1 = document.getElementById("cantidad");
                        let precio2 = document.getElementById("piezasb");
                        let precio3 = document.getElementById("piezasm");
                        precio3.value = parseFloat(precio1.value) - parseFloat(precio2.value);
                          //document.getElementById('piezasm').value=precio3;
                      });
                      
                    </script>

                </div>
                <div class="form-group">
                  <label for="">Productos mal: </label>
                    <input type="text" name="piezasm" value="<%= data.piezasm%>" placeholder="Piezas Mal" id="piezasm" class="form-control" disabled>
                </div>
                                
                    
                
                <div class="form-group">
                  <label for="">Fecha Final: </label>
                    <!-- <input type="text" name="fechaf" value="<%= data.fechaf%>" placeholder="Nombre" class="form-control"> -->
                    <input class="timepage" size="8" id="timespent" name="fechaf" disabled><br>
                                <script>
                                    var fecha1 = new Date().getHours();
                                    var fecha2 = new Date().getMinutes();
                                    var fecha3 = new Date().getSeconds();
                                    var fechacompleta = fecha1+":"+fecha2+":"+fecha3;
                                    document.getElementById('timespent').value=fechacompleta;
                                    // var objetivo = document.getElementById('timespent');
                                    //objetivo.innerHTML = fechacompleta;
                                </script>
                </div>
                <div class="form-group">
                  <label for="">Gastos Extra: </label>
                    <input type="text" name="Gastos" value="<%= data.Gastos%>" placeholder="Gastos" class="form-control" disabled>
                </div>
                <div class="form-group">
                  <label for="">Observaciones: </label>
                    <input type="text" name="Observa" value="<%= data.Observa%>" placeholder="Observaciones" class="form-control" disabled>
                </div>
          <button type="menu" class="btn btn-primary">
            Home
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/_footer'); -%>